body {


background-color: black ;
}



 


 .nav{

display: flex;
flex-wrap: nowrap;
justify-content: center;

}



.menu{

padding-right: 20px;
list-style-type: none;

}

a{

text-decoration: none;
color: white;
font-family: 'Alice', serif;
font-size: 20px;
}


